.pokedex-wrapper {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.pokedex-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.search-box-info {
  margin-bottom: 20px;
  font-size: 18px;
  opacity: 0.7;
}
