.pokemon-details {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.pokemon-details img {
  width: 200px;
  height: 200px;
}

.pokemon-details h1 {
  text-transform: capitalize;
  font-size: 38px;
}

.pokemon-details ul {
  list-style: none;
  padding: 0;
}

.pokemon-details li {
  background: #eee;
  display: inline-block;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 8px;
  text-transform: capitalize;
}
