.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.pokemon-name{
    font-size: xx-large;
}
.pokemon-attr{
    display: flex;
    font-size: larger;
    gap: 2rem;
}
.pokemon-type{
    font-size: x-large;
    border: solid grey;
    padding: 1rem 2rem;
    border-radius: 16px;
    background-color: azure;
    margin-left: 1rem;
}
