.pokemon-list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-wrapper {
  width: 100%;
  max-width: 300px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #ddd;
  font-size: 16px;
  margin-bottom: 15px;
}

.page-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.page-controls button {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #e63946;
  color: white;
  font-size: 16px;
  transition: 0.2s;
}

.page-controls button:disabled {
  background: #aaa;
}

.page-controls button:hover:not(:disabled) {
  background: #d62828;
}

.pokemon-list {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  place-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
