.pokemon-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}

.page-controls {
  margin: 1rem 0;
}

.page-controls button {
  padding: 10px 15px;
  margin: 0 0.5rem;
  font-weight: bold;
  border: none;
  background-color: salmon;
  border-radius: 10px;
  cursor: pointer;
}

.page-controls button:hover {
  background-color: tomato;
}
