.pokemon {
  width: 170px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 10px #ddd;
  transition: 0.2s;
}

.pokemon:hover {
  transform: scale(1.05);
}

.pokemon img {
  width: 120px;
  height: 120px;
}

.pokemon h3 {
  margin: 10px 0;
  text-transform: capitalize;
}

.pokemon-types span {
  background: #eee;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 2px;
  font-size: 12px;
  text-transform: capitalize;
  display: inline-block;
}
